* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 4px;
}

body {
  max-width: 700px;
  margin: auto;
}

button, input {
  padding: 5px 10px;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}